:root {
  --vp-c-brand: #646cff; /* brand-名牌 主题色 */
  --vp-c-brand-light: #747bff;
}

/* 改写原min-width: 1280px 才显示右侧目录 */
@media (min-width: 375px) {
  .VPDoc .container {
    display: flex;
    justify-content: center;
  }

  .VPDoc .aside {
    display: block;
  }
}